= javascript_include_tag( 'chapter_select' )

.container-fluid
    %h1.title Select a Chapter
    
    .row
        .col-xs-4.col-xs-offset-4
            %img.chapter-img.col-xs-6{:src => "https://group2-final-beyhum.c9users.io/assets/leaf.png"}
            %img.chapter-img.col-xs-6{:src => "https://group2-final-beyhum.c9users.io/assets/leaf.png"}
            %img.chapter-img.col-xs-6{:src => "https://group2-final-beyhum.c9users.io/assets/leaf.png"}
            %img.chapter-img.col-xs-6{:src => "https://group2-final-beyhum.c9users.io/assets/leaf.png"}
    




:scss
    .title{
        text-align: center;
        margin-bottom: 10%
    }
    
    .chapter-img{
        max-width: 100%;
    }