
.container-fluid
    .row
        %img.chapter-img.col-xs-1.col-xs-offset-4{:src => "https://group2-final-beyhum.c9users.io/assets/leaf.png"}
        %h1.title.col-xs-4 Select a Chapter
            
    
    .row
        %h2#question.col-xs-10.col-xs-offset-1 QUESTION
    .row
        %h2#reading.col-xs-10.col-xs-offset-1 READING
    .row
        %h2#interaction.col-xs-10.col-xs-offset-1 INTERACTION
     
    




:scss
    .title{
        margin-bottom: 10%;
    }
    
    .chapter-img{
        max-width: 10%;
    }
    #question{
        background-color: #ffee75;
        color: white;
        text-align: center;
        height: 80px;
        padding-top: 10px;
    }
    
    #interaction{
        background-color: #ff5575;
        color: white;
        text-align: center;
        text-size: 5em;
        font-size: 5em;
    }
    
    #reading{
        border: 1px solid #dddddd;
        text-align: center;
        font-size: 8em;
        height: 400px;

    }