= javascript_include_tag( 'subject_select' )

.container-fluid
    %h1.title Select a Subject
    
    .row
        .col-xs-4.col-xs-offset-4
            %img.col-xs-6.subject-img{:src => "https://group2-final-beyhum.c9users.io/assets/science.png"}
            %img.col-xs-6.subject-img{:src => "https://group2-final-beyhum.c9users.io/assets/code.jpg"}
            %img.col-xs-6.subject-img{:src => "https://group2-final-beyhum.c9users.io/assets/leaf.png"}
            %img.col-xs-6.subject-img{:src => "https://group2-final-beyhum.c9users.io/assets/math.png"}





:scss
    .title{
        text-align: center;
        margin-bottom: 10%
    }
    
    .subject-img{
        max-width: 100%;

        text-align: center;
    }