:scss
    #back-button{
        position: absolute;
        z-index: 100;
        top: 15px;
        left: 15px;
    }
    
= link_to root_path, id: "back-button", class: "btn btn-primary" do
    %span.glyphicon.glyphicon-chevron-left